
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: rgba(275, 275, 205, 0.9);
    display: flex;
    justify-content: center;
   
}

div {
    display: block;
}

.container {
    width: 500px;
     height: 500px; background-image: url(./img/pug-life.jpg);background-size: cover;
     background-position: center;
     position: relative;
    overflow: hidden;
    padding: 2rem;
    
     
     
}


 .dog {

    padding: 0.3rem;
    width: 20rem;
    height: 2rem;
    background-color: rgba(275, 275, 205, 0.9);
    border-radius:3rem ;
    font-weight: bold;
    text-align: center;
    display: inline-flex;
    text-transform: uppercase;
  
}


.second1, .second2, .second3 {
   
    padding: 0.3rem;
    width: 20rem;
    height: 2rem;
    background-color: rgba(275, 275, 275, 0.7);
    border-radius:3rem ;
    border: 1px solid gainsboro;
    text-align: left;
    display: inline-block;
    position: relative;
    transform: translateX(-150%);
}


.container:hover .second1{
    transform: translateX(0);
    transition-delay: 0.1s;
transition-duration: 1s;
}


.second2:hover {
transition-delay: .3s;
}

.second3:hover {
    transition-delay: .5s;
}

